@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Poppins:wght@300&family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('./images/couple.jpg');
    background-size: cover;
    position: relative;
}
nav{
    width: 100%;
    height: 70px;
    padding: 0 70px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    color: #fff;
    font-size: 2em;
    font-family: normal;
    letter-spacing: 2px;
    display: flex;
}
.logo .site{
    padding: 50px 0;
}
.logo img {
    padding-top: 30px;
    height: 100px;
    width: 100px;
    color: #e84393;
}
.menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    transition: 0.4s;
}
.menu a:last-child{
    background: #e84393;
    border-radius: 8px;
}
.menu a:hover{
    background: #e84393;
    border-radius: 8px;
}
.box{
    background: #fff;
    width: 500px;
    height: 550px;
    position: absolute;
    top: 15%;
    right: 5%;
    padding: 30px;
    border-radius: 5px;
}
.box h2{
    color: green;
    text-shadow: 1px 1px 2px #000;
}
form{
    width: 100%;
}
form input[type="text"],input[type="number"],input[type="email"],input[type="password"]{
    width: 100%;
    padding: 20px 10px;
    margin: 10px 0;
    outline: none;
    border: none;
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}
form input[type="submit"] {
    width: 100%;
    padding: 20px 10px;
    margin: 10px 0;
    border: none;
    outline: none;
    background: #e84393;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}
form input[type="submit"]:hover{
        background: transparent;
        border: 1px solid grey;
        color: #000;
}
.box span{
    color: #e84393;
    cursor: pointer;
}

.htext{
    position: absolute;
    top: 30%;
    left: 5%;
    color: #fff;
    max-width: 600px;
    font-weight: 500;
    text-shadow: 1px 1px 2px pink;
}
.htext h1{
    font-size: 2em;
}
.htext h2 {
    font-size: 4em;
}
.htext span{
    color: #e84393;
}
.htext p{
    margin: 15px 0;
    line-height: 2em;
}

/* srvices */
#service{
    padding: 20px 20px;
    /* margin-top: 20px; */
    width: 100%;
    height: 100vh;
    background: rgba(196, 196, 196, 0.772);
}
.title h1{
    text-align: center;
    font-size: 2.5rem;
    color: #e84393;
}
.title span{
    color: black;
}
.services-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.service-col{
    height: 15rem;
    width: 22rem;
    color: #e84393;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(248, 247, 246, 0.84);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    /* flex: 1 1 25rem; */
    padding: 1.1rem;
    margin: 1.5rem;
}
.col1{
    background: url('https://content.wepik.com/statics/11365157/preview-page0.jpg');
    background-size: cover;
    overflow: hidden;
}
.col2{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT02LydlTYjN-a6gQwT71vmgum2Oq0MtOR8udwuTSJwoA&s');
    background-size: cover;
    overflow: hidden;
}
.col3{
    background: url('https://5.imimg.com/data5/ZG/LW/UF/SELLER-24570833/makeup-photography-service.png');
    background-size: cover;
}
.col4{
    background: url('https://topknottiaras.co.uk/cdn/shop/products/Peach_Bridal_Bouquet_Artificial_Wedding_Flowers_Wedding_Bouquet_FL27_1_1000x1000.jpg?v=1681031091');
    background-size: cover;
}
.col5{
    background: url('https://www.cakeplaza.in/cdn/shop/products/FloatingHeartsCake_512x.jpg?v=1608648553');
    background-size: cover;
}
.col6{
    background: url('https://static.toiimg.com/thumb/msid-48376378,imgsize-43694,width-400,resizemode-4/48376378.jpg');
    background-size: cover;
}
.service-col i{
    padding: 1.5rem;
    border: none;
    background-color: #fff;
    color: #e84393;
    border-radius: 5rem;
    font-size: 2.5rem;
}
.service-col p{
    color: #000;
    font-weight: 700;
}

/* stories */
.story{
    width: 100%;
    height: 100vh;
}
.wel h1{
    text-align: center;
    /* margin-top: 30px; */
    padding: 50px;
    color: #e84393;
    text-shadow: 2px 2px 3px black;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cards .card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(185, 182, 182, 0.758);
    color: #fff;
}

/*   footer   */

footer {
    background-color: #77767665;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
/* Style for social links */
.social-links a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    background-color: rgba(245, 164, 13, 0.705);
    color: #e84393;
    padding: 8px;
    transition: 3s;  
}
.social-links a:active{
    padding: 50px;
    transform: scaleX(3);
}
.social-links a:hover{
        background-color: crimson;
        color: #fff;
}
footer span{
    color: rgba(0, 89, 255, 0.811);
}

/* Login page */
.box1{
    background: #fff;
    width: 500px;
    height: 400px;
    position: absolute;
    left: 33%;
    top: 15%;
    padding: 40px;
    border-radius: 5px;
}
.box1 h2{
    color: green;
    text-shadow: 1px 1px 2px #000;
    text-align: center;
}